.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #333;
  width: 100%;
  max-width: 800px; /* Adjust width as needed */
  margin: 20px auto; /* Center the app with top margin for spacing */
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative; /* For absolute positioning of elements inside */
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #4CAF50;
  margin-bottom: 30px;
}

button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  opacity: 0.9;
}

.reset-button {
  background-color: #f44336; /* Red color */
  color: white;
}

.full-reset-button {
  background-color: #ff4d4d; /* Lighter red color */
  color: white;
}

.benefits-container {
  order: -1; /* Move this container to the top */
  width: 90%; /* Match the width to the progress map width for consistency */
  margin-bottom: 20px;
}
.benefits-container p {
  margin: 10px 0;
}
